{% extends 'main/homepage.html.twig' %}

{% block title %}Register{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
	<div class="container column col-lg-3">
		<img class="img-fluid" src="{{ asset('/assets/images/login.jpeg') }}" alt="login image"/>
	</div>

	<div class="form container mx-auto login-form column col-lg-6 my-auto">
		{{ form_start(registrationForm) }}

		<h1 class="h3 mb-1 font-weight-normal">Join Us</h1>
		<span>Already have an account?
			<a class="link-success" href="/login">Login</a>
		</span>

		<!-- First Name and Last Name Inputs in the same row -->
		<div class="row mt-2">
			<div class="col-md-6">
				{{ form_label(registrationForm.firstName, null, {'label_attr': {'for': 'firstName'}}) }}
				{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control', 'id': 'firstName', 'placeholder': 'Enter first name'}}) }}
				{{ form_errors(registrationForm.firstName) }}
			</div>
			<div class="col-md-6">
				{{ form_label(registrationForm.lastName, null, {'label_attr': {'for': 'lastName'}}) }}
				{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'id': 'lastName', 'placeholder': 'Enter last name'}}) }}
				{{ form_errors(registrationForm.lastName) }}
			</div>
		</div>

		<!-- Phone Number and Email Inputs in the same row -->
		<div class="row mt-2">
			<div class="col-md-6">
				{{ form_label(registrationForm.phoneNumber, null, {'label_attr': {'for': 'phoneNumber'}}) }}
				{{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control', 'id': 'phoneNumber', 'placeholder': 'Enter phone number'}}) }}
				{{ form_errors(registrationForm.phoneNumber) }}
			</div>
			<div class="col-md-6">
				{{ form_label(registrationForm.email, null, {'label_attr': {'for': 'email'}}) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'email1', 'placeholder': 'Enter email'}}) }}
				{{ form_errors(registrationForm.email) }}
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
		</div>

		<div class="row mt-2">
					<!-- Username Input -->
		<div class="col-md-6">
			{{ form_label(registrationForm.username, null, {'label_attr': {'for': 'username'}}) }}
			{{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'id': 'username', 'placeholder': 'Enter username'}}) }}
			{{ form_errors(registrationForm.username) }}
		</div>

		<!-- Password Input -->
		<div class="col-md-6">
			{{ form_label(registrationForm.plainPassword, null, {'label_attr': {'for': 'password'}}) }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'id': 'password', 'placeholder': 'Password'}}) }}
			{{ form_errors(registrationForm.plainPassword) }}
		</div>

		</div>
	
		<!-- Address Input -->
		<div class="form-group mt-2">
			{{ form_label(registrationForm.customer.address, null, {'label_attr': {'for': 'address'}}) }}
			{{ form_widget(registrationForm.customer.address, {'attr': {'class': 'form-control', 'id': 'address', 'placeholder': 'Address'}}) }}
			{{ form_errors(registrationForm.customer.address) }}
		</div>

		<!-- Terms and Conditions Checkbox -->
		<div class="form-check mt-2">
			{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'id': 'check'}}) }}
			{{ form_label(registrationForm.agreeTerms, 'Check me out', {'label_attr': {'for': 'check', 'class': 'form-check-label'}}) }}
		</div>

		<!-- Submit Button -->
		<button type="submit" class="btn btn-dark mt-3 w-100">Submit</button>
		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
