{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block main %}

    <div class="row">
      <!--Profile SideNav-->
        <twig:ProfileSidenav active="{{active}}" />
       


        <!-- Profile Details -->
        <div class="col-md-9">
            <twig:UserProfile user="{{user}}"/>
            </div>

            <!-- Order History -->
            <div class="card mt-4 mb-5">
                <div class="card-header bg-secondary text-white">
                    <h5><i class="bi bi-receipt"></i> Recent Orders</h5>
                </div>
                <div class="card-body">

                {% for order in orders %}
                    <div class="border-bottom pb-2 mb-2">
                        <p><strong>Order {{order.id}}</strong> - <span class="text-muted">{{ order.createdAt|date('F j, Y \\a\\t g:i A') }}</span></p>
                        <p>Status: <span class="badge bg-success">{{order.status.label}}</span></p>
                        <p>Total: <strong>${{order.total}}</strong></p>
                         <a href="{{ path('app_order_view', { id: order.id }) }}" class="btn btn-primary btn-sm">
                                    View
                                </a>
                    </div>

                    {% endfor %}
                  
                    <a class="btn btn-primary" href="{{path('app_order')}}"> See All Orders....</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
