{% extends './admin/dashboard.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Available</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  {%  for product in products %}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>${{product.price}}</td>
      <td>{{product.available? "Yes" : "No"}}</td>
      <td>{{product.category.name}}</td>
    </tr>

    {% endfor %}
   
  </tbody>
</table>
{% endblock %}
